body {
    padding-bottom: 50px;
}
.header {
    text-align: right;
    padding-top: 10px;
}

.img-circle {
    border-radius: 50%;
}

.circle-border {
    width: inherit;
    margin: 10px;
    border: 5px solid #eee;
}

#headshot-img {
    display: block;
    margin: auto;
    width: 150px;
}

.header  i {
    color: #000;
    padding: 0px 10px 0px 10px;
}

.header a {
    text-decoration: none;
}

.resume-img {
    display: block;
    margin: auto;
    width: 150px;
}

.timeline-title {
    font-weight: bold;
}

.progress {
    margin: 1rem;
    height: 1.5rem;
}

.progress-bar {
    padding-left: 1rem;
    text-align: left !important;
}
