html {
	height: 100%;
}
body {
	height: 100%;
	padding-top: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #eee;
}

/* NAVBAR
-------------------------------------------------- */
.navbar-accent,
.navbar-accent .navbar-nav > li > a:hover,
.navbar-accent .navbar-nav > li > a:focus {
	background-color: #1d2120;
	border: 0px;
	webkit-box-shadow: 0 8px 6px -6px #999;
       -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
}

.navbar-accent .navbar-nav > li > a {
	color: #fff;
}

.navbar-accent .navbar-brand {
	color: #fff;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-accent .navbar-toggle {
	background-color: #fff;
	color: black;
}

.navbar-accent .navbar-toggle > .icon-bar {
	background-color: #1d2120;
}

/* CAROUSEL
-------------------------------------------------- */

#media-carousel .carousel-inner>.item>img {
	width: auto;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
}

.black {
	color: #000;
}

/* HEADER
-------------------------------------------------- */
.intro-header {
	    background: url(../img/urbanstreet.jpg) no-repeat bottom center scroll;
	    background-size: cover;
	    padding: 60px 0;
}

.intro-message {
	margin: 0;
	text-align: center;
}

.intro-message {
	color: #eee;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .9);
	line-height: 1.25;
}

.intro-message h2 {
	font-weight: 500;
}

.intro-message h1 {
	font-size: 120px;
	font-weight: 500;
}

/* Responsive CSS 
---------------------------------------------*/

/* Extra Small */
@media ( max-width :767px) {
	#header h1 {
		font-size: 80px;
	}
	#media-carousel .carousel-inner>.item>img {
		max-height: 275px;
	}
		#contact-links div {
		padding: 8px 0;
	}
}

/* Small */
@media ( min-width :768px) and (max-width:991px) {
	#header h1 {
		font-size: 100px;
	}
	
	#contact-links div {
		padding: 8px 0;
	}
}


/* Medium */
@media ( min-width :992px) and (max-width:1199px) {
	#header h1 {
		font-size: 120px;
	}
}

/* Large */
@media ( min-width :1200px) {
	#header h1 {
		font-size: 120px;
	}
}

/* About
-------------------------------------------------- */
.progress-bar-container>.progress {
	padding: 0;
}

.progress {
    position: relative;
	height: 25px;
}

.progress-bar {
	background-color: rgba(186, 144, 119, .8) !important;
}

.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 500;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(186, 144, 119, 1);
}

.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 500;
	padding: 3px 10px 2px;
}

.progress.active .progress-bar {
	-webkit-transition: none !important;
	transition: none !important;
}


/* Work
-------------------------------------------------- */
.timeline-panel {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.timeline-panel:hover {
	background-color: #ba9077;
	font-color: #fff;
}

.education-timeline:before {
	background-color: #1d2120 !important;
}

/* Contact
-------------------------------------------------- */

.fa-highlight:hover {
	color: #1d2120;
}

#contact {
	color: #fff;
	background-color: #5a5c51;
}

#contact-links {
	padding-top: 30px;
}

/* Featurettes 
-------------------------------------------------- */
section {
	padding: 60px 0px;
}

.painted {
	background: rgba(117, 117, 117, 0.2);
}

.painted-accent {
	background: #bcd5d1;
}

.painted-accent>div {
	color: #1d2120;
}

.painted-accent .text-muted {
	color: #1d2120;
}

.container:before, .container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.center {
	text-align: center;
}

/* Footer
-------------------------------------------------- */
/* Wrapper for page content to push down footer */


footer {
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #ba9077;
}


.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 60px;
  position: relative;
}

.container .footerMsg {
	margin: 20px; 0;
}