body {
	height: 100%;
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px
}

/* NAVBAR
-------------------------------------------------- */
.navbar-accent,
.navbar-accent .navbar-nav > li > a:hover,
.navbar-accent .navbar-nav > li > a:focus {
	background-color: #3498db;
	border: 0px;
}

.navbar-accent .navbar-nav > li > a {
	color: #ecf0f1;
}

.navbar-accent .navbar-brand {
	color: #ecf0f1;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-accent .navbar-toggle {
	background-color: #ecf0f1;
	color: black;
}

.navbar-accent .navbar-toggle > .icon-bar {
	background-color: #3498db;
}

/* CAROUSEL
-------------------------------------------------- */

#media-carousel .carousel-inner>.item>img {
	width: auto;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
}

.black {
	color: #000;
}

/* HEADER
-------------------------------------------------- */
#header>.container {
	z-index: 9;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

#header h1 {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	font-weight: 900;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

/* Responsive CSS 
---------------------------------------------*/

/* Extra Small */
@media ( max-width :767px) {
	#header h1 {
		font-size: 80px;
	}
	#media-carousel .carousel-inner>.item>img {
		max-height: 275px;
	}
}

/* Small */
@media ( min-width :768px) and (max-width:991px) {
	#header h1 {
		font-size: 100px;
	}
}

}

/* Medium */
@media ( min-width :992px) and (max-width:1199px) {
	#header h1 {
		font-size: 120px;
	}
}

/* Large */
@media ( min-width :1200px) {
	#header h1 {
		font-size: 120px;
	}
}

/* About
-------------------------------------------------- */
.progress-bar-container>.progress {
	padding: 0;
}

.progress.active .progress-bar {
	-webkit-transition: none !important;
	transition: none !important;
}


/* Work
-------------------------------------------------- */
.timeline-panel {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.timeline-panel:hover {
	background-color: #58ADE3;
}

/* Contact
-------------------------------------------------- */

.fa-highlight:hover {
	color: #85c4Ed;
}

/* Featurettes 
-------------------------------------------------- */
section {
	padding: 60px 0px;
}

.painted {
	background: rgba(117, 117, 117, 0.2)
}

.painted-accent {
	background: #0665A2;
}

.painted-accent>div {
	color: #fff;
}

.painted-accent .text-muted {
	color: #fff;
}

.container:before, .container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.center {
	text-align: center;
}

/* Footer
-------------------------------------------------- */
/* Wrapper for page content to push down footer */

.footer {
	background-color: #f5f5ff;
}

.wrapper {
	min-height: 100%;
	/* negative value of the footer's height */
	margin: 0 auto -60px; 
}
.footer, .push {
	height: 60px; 
}

.container .footerMsg {
	margin: 20px 0;
}