<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>

  <!-- Custom CSS -->
  <link href="css/home.css" rel="stylesheet">
  
</head>
<body>

	<div class="container">
		<div class="header">
			<a href="http://www.linkedin.com/pub/nate-jenson/5a/820/820/" target="_blank">
				<i class="fab fa-linkedin fa-2x"></i>
			</a>
			<a href="http://stackoverflow.com/users/2329708/njenson" target="_blank"> 
				<i class="fab fa-stack-overflow fa-2x"></i>
			</a>
			<a href="http://www.github.com/natejenson" target="_blank"> 
				<i class="fab fa-github-square fa-2x grow"></i>
			</a>
		</div>
		<br/>
		<div class="main">
			<div class="row">
				<div class="col-md-2 col-sm-12">
					<img id="headshot-img" class="img-circle circle-border grow" src="img/headshot.jpg" alt="Nate Jenson">
				</div>
				<div class="col-md-10 col-sm-12">
					<h5></h5>
					<h1 class="timeline-title">Nate Jenson</h1>
					<!-- Maybe put technologies here? -->
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-2 col-sm-12">
					<a href="https://www.google.com/intl/en/about" target="_blank">
						<img src="img/google.png" alt="Google" class="resume-img"/>
					</a>
				</div>
				<div class="col-md-10 col-sm-12">
					<h5 class="timeline-title">Software Engineer</h5>
					<small><i class="fas fa-clock"></i> June 2018 - Present</small>
					<p>lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12">
					<a href="https://www.spscommerce.com" target="_blank">										
						<img src="img/sps.png" alt="SPS Commerce" class="resume-img"/>
					</a>
				</div>
				<div class="col-md-10 col-sm-12">
					<h5 class="timeline-title">Software Engineer</h5>
					<small><i class="fas fa-clock"></i> June 2017 - June 2018</small>
					<p>lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-12">
					<a href="https://www.protolabs.com" target="_blank">										
						<img src="img/protolabs.png" alt="Proto Labs" class="resume-img"/>
					</a>
				</div>
				<div class="col-md-10 col-sm-12">
					<h5 class="timeline-title">Software Engineer</h5>
					<small><i class="fas fa-clock"></i> June 2015 - June 2017</small>
					<p>lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
					</p>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-2 col-sm-12">
					<img src="img/gustavus.png" alt="Gustavus" class="resume-img"/>
				</div>
				<div class="col-md-10 col-sm-12">
					<h5 class="timeline-title">Bachelor of Arts, Computer Science</h5>
					<small><i class="fas fa-clock"></i> May 2015</small>
					<p>lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
						lorem ipsum blah blah lorem ipsum blah blah 
					</p>
				</div>
			</div>
			<div class="row"></div>
		</div>
		<!-- <footer>
				<% include ../partials/footer %>
		</footer> -->
	</div>
</body>
</html>
