<!DOCTYPE html>
<html>
<head>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

  <% include ../partials/head %>

  <!-- Custom JS -->
  <script src="js/travel.js"></script>

  <!-- Custom styles -->
  <link href="css/travel.css" rel="stylesheet">

</head>
<body>
	<!-- NAVBAR -->
	<% include ../partials/navbar %>

	<div id="map-canvas"></div>
</body>
</html>
