<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>

  <!-- Custom JS -->
  <script src="js/travel.js"></script>

  <!-- Custom styles -->
  <link href="css/travel.css" rel="stylesheet">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZbzZCskmDKqcEEMeaPAcKQcJfT7oOdbA&callback=initMap"async defer></script>
</head>
<body>
	<!-- NAVBAR -->
	<% include ../partials/navbar %>

	<div id="map-canvas"></div>
</body>
</html>
